.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(251, 251, 255);
  position: sticky;
  top: 50px;
}

.sidebar__wrapper {
  padding: 20px;
  color: #555;
}

.sidebar__menu {
  margin-bottom: 10px;
}

.sidebar__title {
  font-size: 13px;
  color: rgb(187, 186, 186);
}

.sidebar__list {
  list-style: none;
  padding: 5px;
}
.link {
  text-decoration: none !important;
  color: inherit;
}
.list__item {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.list__item.active,
.list__item:hover {
  background-color: rgb(240, 240, 255);
}

.sidebar__icon {
  margin-right: 5px;
  font-size: 20px !important;
}
